<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <!-- <div class="index content"> -->

            <!-- Render List of land animals

                <% if (animals.length> 0) { %>
                    <% animals.forEach(animal=> { %>
                        <a class="single" href="/<%= collectionType %>/<%= animal._id %>">
                            <h3 class="title">
                                <%= animal.name %>
                            </h3>
                            <p class="snippet">
                                <%= animal.shortDetail %>
                            </p>
                        </a>
                        <% }) %>
                            <% } else { %>
                                <p>There are no land animals to display...</p>
                                <% } %> -->


            <!-- </div> -->
            <section class="animals-list">
                <h2 class="list-title">
                    <%= title %> in I-ZOO
                </h2>
                <ul class="cards">
                    <% if (animals.length> 0) { %>
                        <% animals.forEach(animal=> { %>
                            <li>
                                <a class="card" href="/<%= collectionType %>/<%= animal._id %>">
                                    <img src="<%= animal.imgURL %>" class="card__image" alt="" />
                                    <div class="card__overlay">
                                        <div class="card__header">
                                            <div class="card__header-text">
                                                <h3 class="card__title"><%= animal.name %></h3>
                                            </div>
                                        </div>
                                        <p class="card__description"><%= animal.shortDetail %></p>
                                    </div>
                                </a>
                            </li>
                            <% }) %>
                                <% } else { %>
                                    <p>There are no
                                        <%= collectionType %> to display...</p>
                                    <% } %>
                </ul>

                <!-- <div style="width: 200px; height: 200px; background-color: aquamarine; ">
                    <div>
                        <img src="" alt="">
                        <p>as</p>
                    </div>
                </div>
                <div style="width: 200px; height: 200px; background-color: aquamarine; margin-left: 100px; ">
                    <div>
                        <img src="" alt="">
                        <p>as</p>
                    </div>
                </div>
                <div style="width: 200px; height: 200px; background-color: aquamarine; margin-left: 100px; ">
                    <div>
                        <img src="" alt="">
                        <p>as</p>
                    </div>
                </div> -->
            </section>


    </body>
    <!-- ------------------------------------------ -->
    <%- include("./partials/footer.ejs") %>

</html>